html {
    margin: 0;
    min-height: 100%;
    scroll-behavior: smooth;
}

body {
    font-family: sans-serif;
    background-color: lightseagreen;
    margin: 0;
}

/* Navigation Bar */
.navigation-bar {
    padding: 1em 2em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigation-bar-logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5em;
}

#logo {
    height: 72px;
    border-radius: 50%;
    display: flex;
}

.navigation-bar-logo a {
    display: flex;
    font-size: 24px;
    font-weight: 900;
    color: white;
    text-decoration: none;
}

.navigation-bar-menu ul {
    list-style-type: none;
    display: flex;
    gap: 1.5em;
}

.navigation-bar-menu a {
    font-size: 18px;
    color: white;
    text-decoration: none;
}

/* Search Bar */
.search-bar input[type=search] {
    width:300px;
    height:25px;
    padding-left: 10px;
    border-radius: 25px;
    border: none;
}

.search-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 72px;
    padding: 1em 8em;
}

/* Drink Section */
.drink-list {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    gap: 72px;
    padding: 1em 8em;
}

.drink-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.drink-image {
    width: 200px;
    height: 200px;
    border: 2px solid white;
    border-radius: 8px;
    box-shadow: 2px 2px 3px black;
    object-fit: cover;
}

.drink-card a {
    font-size: 16px;
    font-weight: 500;
    color: white;
    text-align: center;
    flex-wrap: wrap;
    max-width: 200px;
    text-decoration: none;
}

/* drink Page */
.drink-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1em 1em;
}
.drink-page-image {
    width: 350px;
    height: 350px;
    max-width: 100%;
    display: block;
    border: 2px solid white;
    border-radius: 8px;
    box-shadow: 2px 2px 3px black;
    object-fit: cover;
    align-items: center;
    margin: 1em 1em;
}

.drink-page-instructions {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    width: 100%;
    color: white;
    align-items: center;
}

.drink-page-instructions h1 {
    text-align: center;
}

.drink-page-instructions h2 {
    text-align: center;
    padding: 0;
    margin: 0;
}

.drink-page-instructions li {
    text-align: left;
    margin: 0px 1em;
}

.drink-page-instructions a {
    color: white;
}

/* About Section */
.about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    gap: 72px;
    padding: 1em 1em;
}

.about-image img {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    width: 150px;
    height: 200px;
    border: 2px solid white;
    border-radius: 8px;
    box-shadow: 2px 2px 3px black;
    object-fit: scale-down;
}

.about-info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 8px;
    max-width: 500px;
    color: white;
    padding: 0;
    margin: 0;
    width: 100%;
}

.about-info a {
    color: white;
}

/* Footer */
footer {
    padding: 24px;
    text-align: center;
    color: black;
    background-color: white;
}