body {
    font-family: sans-serif;
    background-color: lightseagreen;
}

/* HEADER */
header {
    padding: 1em 13em;
}

/* NAVIGATION */
.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5em;
}

#logo {
    height: 72px;
    margin-left: 24px;
    border-radius: 50%;
}

#logo-text {
    font-size: 24px;
    font-weight: 900;
    color: white;
    display: inline;
}

.nav-menu ul {
    list-style-type: none;
    display: flex;
    gap: 1.5em;
}

.nav a {
    font-size: 18px;
    color: white;
    text-decoration: none;
}